<app-header></app-header>
<div class="pt-5 aaa2">
  <div class="container">
    <div class="row">
      <div class="col-12 pt-5 text-center">
        <h2>Scan QR for Payment</h2>
        <p>Rs 300/-</p>
        <img
          src="assets/images/QR.jpg"
          style="height: 300px; width: 300px; margin-bottom: 20px"
        />
        <p>UPI ID: <span>9390788858@paytm</span></p>
        <p>Complete your payment using scan or UPI id</p>
        <p>
          Mandatory: Take a screenshot of the payment in a way that UTR number is visible and send it to the
          whatsapp 00000000
        </p>
        <p>Attach Your</p>
        <ul style="list-style-type: none">
          <li>Zeitgeist Id:</li>
          <li>Name:</li>
          <li>Email:</li>
          <li>Phonenumber:</li>
          <li>Registered for:</li>
        </ul>
        <p>If you have any queries contact us:</p>
        <p>Email: info.zeitgeist@gmail.com</p>
        <p>Phone number: 9390788858</p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
